In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

In [22]:
df = pd.read_csv('movies.csv', index_col=0)

In [23]:
df

        Inception  Taxi Driver  Grease  Raging Bull  Space Jam  Dune
Saar            3            5       3            5          4     1
Sofiya          3            5       4            5          3     2
Leo             5            3       2            3          5     4
Shay            4            4       2            4          2     5
Guy             2            5       2            5          4     4

In [24]:
# average rating per movie for users
df.mean()

Inception      3.4
Taxi Driver    4.4
Grease         2.6
Raging Bull    4.4
Space Jam      3.6
Dune           3.2
dtype: float64

In [33]:
# Normalize using Min/Max Normalization.
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df

        Inception  Taxi Driver  Grease  Raging Bull  Space Jam  Dune
Saar     0.333333          1.0     0.5          1.0   0.666667  0.00
Sofiya   0.333333          1.0     1.0          1.0   0.333333  0.25
Leo      1.000000          0.0     0.0          0.0   1.000000  0.75
Shay     0.666667          0.5     0.0          0.5   0.000000  1.00
Guy      0.000000          1.0     0.0          1.0   0.666667  0.75

In [34]:
# show the average of the normalization
normalized_df.mean()

Inception      0.466667
Taxi Driver    0.700000
Grease         0.300000
Raging Bull    0.700000
Space Jam      0.533333
Dune           0.550000
dtype: float64

In [31]:
#standardize the values in each column
df_new = (df-df.mean())/df.std()
df_new

        Inception  Taxi Driver    Grease  Raging Bull  Space Jam      Dune
Saar    -0.350823     0.670820  0.447214     0.670820   0.350823 -1.338877
Sofiya  -0.350823     0.670820  1.565248     0.670820  -0.526235 -0.730297
Leo      1.403293    -1.565248 -0.670820    -1.565248   1.227881  0.486864
Shay     0.526235    -0.447214 -0.670820    -0.447214  -1.403293  1.095445
Guy     -1.227881     0.670820 -0.670820     0.670820   0.350823  0.486864

In [35]:
# show the average of the standardize values

df_new.mean()

Inception      8.881784e-17
Taxi Driver   -4.218847e-16
Grease        -8.881784e-17
Raging Bull   -4.218847e-16
Space Jam     -7.771561e-17
Dune          -9.992007e-17
dtype: float64